accessibility
AODA, need to be compliant with AODA

web am checklist, to check through accessibility
building accessibility toolkit,

google developer accessibility produced by udacity
marcy sudden, on egghead io  on building accessibility

meet up for accesibility development group

passing level two
what aria elements are needed for compoenents,
how you expect your keyboard and screen reader to interact with it

take voice over on mac and try and see how u experience with it


changin the language from click to select or navigate to


axe by deque

for manual testing:
run it over with screen readers, understanding how diff browsers work for screen reader
voice over on safari, obvi one
nvda free screen reader, use with firefox or chrome

voice over,
coede review
do u have proper heading? proper aria label.. etc

test for if gocus is going off the screen, eg) hidden divs, will go off screen element unless it's set to display none
chrome extension: nerdy focus to test for it


accessibility related task:
talking to diff organization, and having a gate keeper


taking your page, and zooming it 200% and see if you can interact with it
complete responsiveness

do a mouse bucket challenge. not use ur mouse,

scott o'hara

breaking it down in to components, and provide what you expect it to do with keyboard, voice over etc
ebay - how to document your ui components well,



https://de.ryerson.ca/wa/
https://de.ryerson.ca/wa/advanced/

international accessibilty guideline (IAP certified) IAP.org
a11y to conferense


microsoft design for accessibility toolkit
